[submodule "testes"]
	path = testes
	url = https://github.com/disruptek/testes
	branch = tag/0.3.2
[submodule "criterion"]
	path = criterion
	url = https://github.com/disruptek/criterion
	branch = tag/0.2.0
