[submodule "testes"]
	path = testes
	url = https://github.com/disruptek/testes
	branch = master
[submodule "criterion"]
	path = criterion
	url = https://github.com/disruptek/criterion
	branch = master
[submodule "grok"]
	path = grok
	url = https://github.com/disruptek/grok
	branch = master
[submodule "packedjson"]
	path = packedjson
	url = https://github.com/Araq/packedjson
	branch = master
[submodule "eminim"]
	path = eminim
	url = https://github.com/planetis-m/eminim
	branch = master
[submodule "jsony"]
	path = jsony
	url = https://github.com/treeform/jsony
	branch = master
